.Todo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Todo__element {
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: scroll;
}
.main_div {
  border: 2px solid;
  border-radius: 5px;
  margin: 10px;
  height: 200px;
  position: relative;
}
.DeleteBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red !important;
  color: white !important;
  border-radius: 2px !important;
}
.CompleteBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green !important;
  margin-right: 2px;
  color: white !important;
  border-radius: 2px !important;
}
.EditBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 47, 129) !important;
  margin-right: 2px;
  color: white !important;
  border-radius: 2px !important;
}
.Input {
  margin-bottom: 5px;
}